html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    /* background-color: #EEF0F4; */
    background-color: #caf0f8;
    color: #432000;
    -webkit-user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 10px 0;
}

button {
    color: #FDFDFD;
    /* background-color: #AC485A; */
    background-color: #023e8a;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

button:hover{
    cursor: pointer;
}

ul li:hover{
    /* background-color: #FFECC7; */
    background-color: #fed9b7;
    cursor: pointer;
}

#add-button:hover{
    /* background-color: #432000; */
    background-color: #03045e;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 10px;
    padding: 0;
}

ul li {
    /* background-color: #FFFDF8; */
    background-color: #fdfcdc;
    color: #342211;
    font-size: 20px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    /* margin: 5px; */
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    flex-grow: 1;
}